<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ChillTime"
        tools:targetApi="31">
        <activity android:name=".RecreatePasswordActivity"/>
        <activity android:name=".TypingOtpActivity"/>
        <activity android:name=".ForgotPasswordActivity"/>
        <activity android:name=".StudentActivity"/>
        <activity android:name=".TeacherActivity"/>
        <activity android:name=".AdminSettingFragment"/>
        <activity android:name=".AdminActivity"/>
        <activity android:name=".SignInAdminActivity" />
        <activity android:name=".SignInTeacherActivity" />
        <activity android:name=".SignInStudentActivity" />
        <activity android:name=".StudentOpenClass" />
        <activity android:name=".TeacherOpenClass" />
        <activity android:name=".TeacherOpenList" />
        <activity android:name=".TeacherProfileFragment" />
        <activity android:name=".TeacherClassFragment" />
        <activity android:name=".TeacherListInfo" />
        <activity android:name=".TeacherOpenBoard" />
        <activity android:name=".TeacherOpenNotification" />
        <activity android:name=".TeacherOpenExercise" />
        <activity android:name=".TeacherListEdit" />
        <activity android:name=".TeacherAddExercise" />
        <activity android:name=".TeacherAddNotification" />
        <activity android:name=".AdminTeacherInfo" />
        <activity android:name=".AdminStudentInfo" />
        <activity android:name=".AdminTeacherFragment" />
        <activity android:name=".AdminStudentFragment" />
        <activity android:name=".AdminSubjectFragment" />
        <activity android:name=".AdminModifyTeacher" />
        <activity android:name=".AdminAddTeacher" />
        <activity android:name=".AdminModifyStudent" />
        <activity android:name=".AdminAddStudent" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>